body {
	font-family: 'Quicksand', sans-serif;
	background-color: #333;
	color: white;
}

h1, h2, h3, h4, h5, h6 {
	color: #e68523;
	font-family: 'Lobster', sans-serif;
}

#map {
	width: 100%;
	min-height: 100vh;
	margin-bottom: 2em;
	border-radius: 1em;
}

.mapboxgl-popup-content {
	color: black;
}

.description {
	font-size: 1.1em;
    font-weight: bold;
}

.description-box {
	margin-bottom: 2em !important;
    margin-top: 1em !important;
}

.col-centered {
    float: none;
    margin: 0 auto;
}



@media (min-width: 992px) { /* Rules for screens size medium and up */

}

@media (max-width: 991px) { /* Rules for screens size less than medium */

}


a {
	cursor: pointer;
}
